body{
	background: linear-gradient(to bottom, rgb(133, 211, 237), rgb(189, 227, 240));
	font-family: 'Lato', sans-serif;
}

#title{
	color:rgb(98, 207, 14);
}

.subtitle{
	color: rgb(141, 242, 63);
}

#about-image{
	height: 300px;
	width:60%;
	border: 6px solid rgb(28,28,85);
	margin: 0px 40px;
	float:right;
}

#about-image:hover{
	animation-name:add-border;
	animation-duration:400ms;
}

.container{
	background-color: rgb(248,248,248);
	margin: 10px;
	height: 300px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.container-item{
	background: rgb(36,130,39);
	color: white;
	font-size: 25px;
	text-align: center;

	width: 50px;
	line-height: 50px;
	margin: 10px;
}

.container-item:hover{
	animation-name:enlarge-container-item;
	animation-duration:1s;

	/* Animation-timing-function is the same as transition-timing-function */
	animation-timing-function:ease-in-out;
}

.grid-container{
	background-color:rgb(250,250,250);
	margin:10px;
	height:900px;

	display:grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px 5px;

	grid-template-rows: auto auto auto;
	
}

.grid-item{
	color: black;
	font-size: 25px;
	text-align: center;
	align-items: center;

	width:auto;
	line-height: 40px;
	margin: 10px;
}

input, textarea{
	display:block;
	margin:10px;
}

.submit-button{
	margin: 20px 10px;
	padding: 10px 15px;
	border:none;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color:white;
	background:rgb(89,150,255);															
	transition: background 500ms ease 50ms;
	transition: background, padding 500ms ease 50ms;
	-webkit-transition: background,padding 500ms ease;
	-moz-transition: background,padding 500ms ease;
	-o-transition: background,padding 500ms ease;
}

.submit-button:hover{
	background:rgb(147,187,255);
	padding: 20px 30px;
}


#about-me:hover{
	animation-name:red-to-black;
	/* Animation-Duration is 0 by default, so a value must be specified before it will run */
	animation-duration: 500ms;

	/* Animation-Timing-Function is the same as transition-timing-function */
	animation-timing-function:ease-in-out;

	/* Animation-Delay can take positive or negative values */
	/* negative values will only show (animation-duration + animation-delay) portion of the animation */
	animation-delay: 0s;

	/* Animation-Iteration-Count is how many times the animation should run */
	/* Full time of animation is therefore animation-iteration-count * animation-duration */
	animation-iteration-count:500;			/* can take the value 'infinite' */

	/* Animation-Direction determines whether animation should play backwards or forwards */
	animation-direction: normal;			/* DEFAULT is NORMAL */
	animation-direction: reverse;			/* All iterations play backwards */
	animation-direction: alternate;			/* Alternate between forward and backward */
	animation-direction: alternate-reverse; /* Alternate between backward and forward */


	/* *** *** *** *** SHORTHAND *** *** *** *** */
	/*		animation name|animation-duration|animation-timing-function|animation-delay|animation-iteration-count|animation-direction  */
	animation: red-to-black         500ms				ease-in-out            0s				50					alternate-reverse;

	/* Shorthand allows easier browser coverage */
	/* -webkit-animation: ~~~~~~~~~~~~~~~~~~~~~~ ; */
	/* -moz-animation: ~~~~~~~~~~~~~~~~~~~~~~ ; */
	/* -o-animation: ~~~~~~~~~~~~~~~~~~~~~~ ; */

}


@keyframes red-to-black{
		0%{
			background:#ff0000;
		}
		25%{
			background:#c20000;
		}
		50%{
			background:#8c0000;
		}
		75%{
			background:#400000;
		}
		100%{
			background:#000000;
		}
}

@keyframes add-border{
	from{border:6px solid rgb(28,28,85)}
	to{border:6px solid rgb(61,17,69);}
}

@keyframes enlarge-container-item{
	from{width: 50px;
		line-height: 50px;}
	to{width:100px;
		line-height:100px;}
}