body{
	background: rgb(204,228,255);
}

#title{
	color:rgb(185,132,8);
}

.subtitle{
	color:rgb(200,148,30);
}

#linear-gradient{
	height:400px;
	width:100%;

	/* Linear Gradients -------- Direction ----- First Color ----- Second Color ---------- */
	background:linear-gradient(to bottom, rgba(204,228,255, .1), rgba(242, 80, 156, .1));
	/* Using Angles */
	background:linear-gradient(60deg,rgba(204,228,255,1), rgba(242,80,156,1));
	background-size:cover;
}

#radial-gradient{
	height: 400px;
	width:100%;

	/* Radial Gradients will not work with a background-size property */
	/*background-size: cover;*/
	/* Can determine percentages each color covers (from smallest to larger or larger will overlap smaller)*/
	/* Can use either ellipse or circle for the shape */
	background: radial-gradient(ellipse, red 5%,blue 20%, green 90%);
}