body{
	background: linear-gradient(to bottom, rgb(200,100,100), rgb(100,100,100));
	font-family: "Times New Roman", serif;
}

#title{
	color:rgb(185,156,3);
}

.subtitle{
	color: rgb(200,156,30);
}

#linear-gradient{
	height:400px;
	width:80%;

	background:linear-gradient(to right, rgba(200,100,10,1), rgba(100,200,10,.1));
}

#radial-gradient{
	height: 400px;
	width: 80%;

	background:radial-gradient(ellipse, red 20%, green 50%, blue 80%);
}
