body{
	background: linear-gradient(to bottom, rgb(200,100,100), rgb(100,100,100));
}

#title{
	color:rgb(185,156,3);
}

.subtitle{
	color: rgb(200,156,30);
}

#linear-gradient{
	height:400px;
	width:80%;

	background:linear-gradient(to right, rgba(200,100,10,1), rgba(100,200,10,.1));
}

#radial-gradient{
	height: 400px;
	width: 80%;

	background:radial-gradient(ellipse, red 20%, green 50%, blue 80%);
}

/************       Text-Decoration        ********************/
.link{

	text-decoration: none;
/*	text-decoration: underline;*/ /* (DEFAULT VALUE FOR TEXT-DECORATION IS UNDERLINE*/
	text-decoration: line-through;
	text-decoration: overline;
}


/***************     Text-Transform     ************************/

.para-text{
	text-transform: uppercase;
	text-transform: lowercase;
	text-transform: capitalize;
}


/***************	Text-Align            ********************/	

body{
	text-align: center;
	text-align: left;
	text-align: right;
	/* justify tries to fit text to both ends of each line */
	text-align: justify;
}