body{
	background: linear-gradient(to bottom, rgb(200,100,100), rgb(100,100,100));
	font-family: "Times New Roman", times , serif;
}

#title{
	color:rgb(15,156,3);
}

.subtitle{
	color: rgb(200,156,30);
}

#linear-gradient{
	height:400px;
	width:80%;

	background:linear-gradient(to right, rgba(200,100,10,1), rgba(100,200,10,.1));
}

#radial-gradient{
	height: 400px;
	width: 80%;
	background:radial-gradient(ellipse, red 20%, green 50%, blue 80%);
/*********************** CSS BORDERS ******************************/
	/*****  Size, Style, Color ***********/
	border: 5px solid black;
	border: 5px dashed black;
	border: 5px dotted black;
	border: 5px double black;
	border: 5px groove;
	border: 5px ridge;
	border: 5px inset;
	border: 5px outset;
	border: 5px none black;
	border: 5px hidden black;
	/********** Multiple Border Styles with border-style *************/
	border: 20px;
	border-style: solid dashed dotted double;
	border-color: rgba(190,90,90, 1)
}

#about-us-image{
	height: 300px;
	width:60vw;
	border: 10px solid white;
}